<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trips</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <div class="header">
        <h2>Hello, {{user.first_name}}</h2>
        <a href="{%url 'loginPage'%}">Logout</a>
        <a href="{%url 'dashboard'%}">Dashboard</a>
    </div>

    <h2 class="myyTrip">My Trips</h2>
    
    
    <table id="customers">
        <tr>
            <th>Destination</th>
            <th>Start Day</th>
            <th>End Day</th>
            <th>Actions</th>
        </tr>

        {%for trip in trips%}
        {%if user in trip.traveler.all%}
            <tr>
                
                <td>{{trip.destination}}</td>
                <td>{{trip.startDay}}</td>
                <td>{{trip.endDay}}</td>
                <td><a href="{%url 'cancelTrip' trip.id%}">Cancel</a></td>
                
            </tr>
            {%endif%}
        {%endfor%}
    </table>


    <h2>Other Trip You Can Join</h2>
    <table id="customers">
        <tr>
            <th>Destination</th>
            <th>Start Day</th>
            <th>End Day</th>
            <th>Actions</th>
        </tr>

        {%for trip in trips%}
        {%if user not in trip.traveler.all%}
            <tr>
                
                <td>{{trip.destination}}</td>
                <td>{{trip.startDay}}</td>
                <td>{{trip.endDay}}</td>
                <td><a href="{%url 'joinTrip' trip.id%}">Join</a></td>
                
            </tr>
            {%endif%}
            
        {%endfor%}
    </table>


</body>
</html>